.form-group
  = f.label :name
  = f.text_field :name, required: true, class: 'form-control'
.form-group
  = f.label 'Courses'
  = f.select :course_ids, @courses.collect { |c| [c.name, c.id] }, { include_blank: false }, { multiple: true, class: 'form-control' }
.form-group
  = f.label 'Status'
  = f.select :status, student_status, { include_blank: false }, { class: 'form-control' }